@keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .player-flipped {
    transform: scaleX(-1);
  }
  .player-container {
    animation: floatAnimation 2s infinite;
    backface-visibility: hidden;
  }
  
  .player {
    width: 15px;
    height: 15px;
  }
  
  .player-username {
    font-family: Arial, sans-serif;
    -webkit-text-stroke: 0.4px black;
    padding: 3px;
    font-size: 10px;
  }