.celroom-page {
    display: flex;
    flex-direction: column;
    width: 100%; /* Use 100% width to make it responsive */
    height: 100vh; /* Full viewport height to ensure it covers the screen */

    .celroom-game {
        position: relative; /* Changed to relative for better control */
        flex: 1; /* Flex grow to take available space */
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    .btn_logout {
        position: absolute;
        top: 1rem;
        right: 1rem;
        height: 40px;
    }

    .chat {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        max-height: 50%; /* Restrict height to prevent overflow */
        overflow-y: auto; /* Allow scrolling if content overflows */
    }
}
