.maker-cmp {
  display: flex;
  flex-direction: column;
  scale: 4;
  border: 2px solid black;
  background-color: gray;
  position: relative;
  height: 200px;
  width: 200px;

  .leave-btn {
    margin: 1cap;
    font-size: 5px;
    width: 30px;
    position: relative;
  }

  .submit-btn {
    margin: 1cap;
    font-size: 5px;
    width: 35px;
    position: absolute;
    background-color: #90BC8F;
    right: 0;
    bottom: 0;
  }
}

.matrix-container {
  width: 200px;
  height: 200px;
  overflow: auto;
}

.matrix {
  scale: 1;

  width: 270px;
  height: fit-content;
}

.image-editor {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.actual-image {
  border: 2px solid red;
  width: 20px;
  height: 20px;
}

.sliderzoom {
  scale: 0.4;
}