.lobby-page {
    display: flex;
    flex-direction: column;
    width: 100%; /* Use 100% width to make it responsive */
    height: 100vh; /* Full viewport height to ensure it covers the screen */

    .lobby-game {
        position: relative; /* Changed to relative for better control */
        flex: 1; /* Flex grow to take available space */
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */

    }

    .btn_logout {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        background-color: #4E4E4E;
        border-radius: 63px;
        color: white; 
        border: none;
        cursor: pointer; 
        margin: 10px; 
    }

    .btn_logout:hover {
        background-color: #707070;
    }

    .chat {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        max-height: 50%; 
    }
}
