.play-page {
    display: flex;
    flex-direction: column;
    height: 100vh;  /* Use toda a altura da tela */
    .play-component {
        flex: 1;  /* Permite que o PlayLevel ocupe o espaço restante */
        display: flex;
    }

    .btn_logout {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        background-color: #4E4E4E;
        border-radius: 63px;
        color: white;
        border: none;
        cursor: pointer;
        margin: 10px;
    }

    .btn_logout:hover {
        background-color: #707070;
    }
    .chat-play {
        position: absolute;
        top:50%;
        right: 0;
        transform: translateY(-50%);
    }
}
